body{
    text-align: center;
    
}

.table-responsive{
    width: 50%;
    
}
.family{
    text-align: center;
    width: 20;
    color: #00897B;
}

.table th { 
   text-align: center;
   color: #004D40;   
}
footer{
    position: relative;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 25px;
    background-color: #B9F6CA;
}
.grid{
    padding: 25px;
    border: 10px solid honeydew;
    background-color: #E0F2F1;
}
.link{
    color: #80CBC4
}

a{
    color:  #80CBC4 !important;
}